.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
}
