* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


/* Ensures the body takes up the full viewport height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* The main container of the application */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1; /* Ensures this section grows to fill available space */
  margin-top: 40px;
}

